In [1]:
import pandas as pd

In [2]:
dfa = pd.read_csv(r"titulos\amazon_prime_titles.csv")
#generamos nueva columna id con la inicial a
dfa.insert(0, "id" , "a"+dfa["show_id"] )

repetimos esto con los otros archivos csv

In [3]:
dfd = pd.read_csv(r"titulos\disney_plus_titles.csv")
dfd.insert(0, "id" , "d"+dfa["show_id"] )
dfh = pd.read_csv(r"titulos\hulu_titles.csv")
dfh.insert(0, "id" , "h"+dfa["show_id"] )
dfn = pd.read_csv(r"titulos\netflix_titles.csv")
dfn.insert(0, "id" , "n"+dfa["show_id"] )

In [4]:
#concatenamos todo en un solo dataframe
df = pd.concat([dfa,dfd,dfh,dfn])

In [5]:
#Reemplazamos los valores nulos en la columna rating
df["rating"] = df["rating"].fillna("G")
df

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,ns8803,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,ns8804,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,ns8805,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,ns8806,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,ns8807,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [6]:
#quitamos los espacios para poder correr el codigo de abajo
df["date_added"] = df["date_added"].str.strip()

In [7]:
#conversion a formato fecha
df["date_added"] = pd.to_datetime(df["date_added"], format="%B %d, %Y")

In [8]:
#pasamos todas las letras a minisculas
df = df.applymap(lambda s: s.lower() if type(s)==str else s)

In [9]:
#separamos la columna duration por medio del espacio(" ") y creamos dos nuevas columnas
df[["duration_int" , "duration_type"]] = df["duration"].str.split(" ", n=1,expand=True)
#cambiamos la posicion de las nuevas columnas
duration_int = df.pop("duration_int")
duration_type = df.pop("duration_type")
df.insert(11,"duration_int", duration_int)
df.insert(12,"duration_type", duration_type)

dataframe de los ratings

In [2]:
#Lista con todos los archivos
archivos = [r"ratings\1.csv" , r"ratings\2.csv" , r"ratings\3.csv" , r"ratings\4.csv" , r"ratings\5.csv" , r"ratings\6.csv",r"ratings\7.csv" , r"ratings\8.csv"]

In [3]:
#leemos y guardamos los df creados
dataframes = []
for archivo in archivos:
    df1= pd.read_csv(archivo)
    dataframes.append(df1)

In [4]:
#concatenamos todos los dataframes para tener solo uno
dfr = pd.concat(dataframes, axis=0 , ignore_index=True)

In [15]:
dfr

          userId  rating   timestamp movieId
0              1     1.0  1425941529   as680
1              1     4.5  1425942435  ns2186
2              1     5.0  1425941523  hs2381
3              1     5.0  1425941546  ns3663
4              1     5.0  1425941556  as9500
...          ...     ...         ...     ...
11024284  124380     4.5  1196786159  ns5272
11024285  124380     2.5  1196786030  ns5492
11024286  124380     3.5  1196785679   hs305
11024287  124380     4.5  1196787089  ns7881
11024288  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

In [9]:
dfr.to_csv("ranks.csv" , index=False)

In [5]:
#sacamos el promedio del rating agrupando por id de pelicula/serie
promedio_rating = dfr.groupby([ "movieId"])["rating"].mean()

In [6]:
#redondeo a 2 decimales
promedio_rating = round(promedio_rating,ndigits=2)
promedio_rating

movieId
as1       3.47
as10      3.44
as100     3.61
as1000    3.56
as1001    3.59
          ...
ns995     3.52
ns996     3.63
ns997     3.53
ns998     3.58
ns999     3.49
Name: rating, Length: 22998, dtype: float64

In [7]:
#creamos un nuevo dataframe de los promedios con la id
df_nuevo = pd.DataFrame(promedio_rating).reset_index().rename(columns={"movieId": "id" , "rating": "score"})

In [17]:
df_nuevo

           id  score
0         as1   3.47
1        as10   3.44
2       as100   3.61
3      as1000   3.56
4      as1001   3.59
...       ...    ...
22993   ns995   3.52
22994   ns996   3.63
22995   ns997   3.53
22996   ns998   3.58
22997   ns999   3.49

[22998 rows x 2 columns]

In [ ]:
#unimos el dataframe original con el nuevo creado arriba por medio de la columna id
df = pd.merge(df , df_nuevo , on=["id"])

In [20]:
#extraemos la columna puntaje para posicionarla en el puesto 6
colpun = df.pop("score")
df.insert(6,"score",colpun)

In [21]:
df = df.drop("show_id", axis=1)
df = df.drop("duration", axis=1)

In [17]:
def agregar_columna_por_letra(dataframe, columna_origen, columna_destino, diccionario):
    """
    Agrega una nueva columna al dataframe basándose en la primera letra de la columna_origen.
    La nueva columna se agrega al dataframe con el nombre especificado en columna_destino.
    Los valores de la nueva columna se toman del diccionario, utilizando la letra como clave.
    """
    letras = dataframe[columna_origen].str[0]  # obtiene la primera letra de cada fila
    valores = letras.map(diccionario)          # busca el valor correspondiente en el diccionario
    dataframe[columna_destino] = valores       # agrega la nueva columna al dataframe

distribuidores ={"a" : "amazon" , "d" : "disney" , "h" : "hulu" , "n" : "netflix"}

agregar_columna_por_letra(df, "id" , "platform" , distribuidores)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   score          22998 non-null  float64
 6   country        11499 non-null  object
 7   date_added     13444 non-null  object
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration_int   22516 non-null  float64
 11  duration_type  22516 non-null  object
 12  listed_in      22998 non-null  object
 13  description    22994 non-null  object
 14  platform       22998 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 2.6+ MB

In [20]:
df.to_csv("df.csv" , index = False)

In [3]:
df = pd.read_csv(r"df.csv" )

In [6]:
def get_max_duration(year:int ,platform:str ,duration_type:str):
    df = pd.read_csv(r"df.csv")
    pelicula = df[(df["release_year"] == year) & (df["platform"] == platform) & (df["duration_type"] == duration_type)]
    duracionmax = pelicula["duration_int"].idxmax()
    title = pelicula.loc[duracionmax , "title"]
    return title
    
get_max_duration(2012,"netflix","min")

'cloud atlas'

In [21]:
def get_score_count(platform:str , scored:float , year:int):
    df = pd.read_csv(r"df.csv")
    peliculas = df[(df["platform"] == platform) & (df["score"] >= scored) & (df["release_year"] == year) & (df["type"]=="movie")]
    numdepeliculas = len(peliculas)
    return numdepeliculas
get_score_count("disney" , 1.45 , 2014)

34

In [7]:
def get_count_platform(platform:str):
    df = pd.read_csv(r"df.csv")
    peliculas = df[(df["platform"] == platform) & (df["type"] == "movie" )]
    contador = len(peliculas)
    return contador
get_count_platform("hulu")

1484

In [8]:
def get_actor(platform:str , year:int):
    df = pd.read_csv(r"df.csv")
    actor = df[(df["platform"] == platform) & (df["release_year"] == year) & (df["cast"])]
    serie_actores = actor["cast"].str.split(",\s*", expand=True).stack()
    frecuencia_actores = serie_actores.value_counts()
    actor_mas_comun = frecuencia_actores.idxmax()
    return actor_mas_comun
get_actor("netflix" , 2005)

'lara dutta'

In [27]:
def prod_per_country(tipo:str , country:str , year:int):
    df = pd.read_csv(r"df.csv")
    product = df[(df["type"] == tipo) & (df["country"] == country) & (df["release_year"] == year)]
    cantidad = {"pais:" : country , "anio:" : year , "contenido:" : len(product["type"])}
    return cantidad
prod_per_country("tv show" , "france" , 2020)

{'Pais:': 'france', 'anio:': 2020, 'pelicula:': 8}

In [29]:
def get_contents(rating: str):
    df = pd.read_csv(r"df.csv")
    conten = df[(df["rating"] == rating)]
    cantcont = len(conten["rating"])
    return cantcont
get_contents("18+")

1243